@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.poppins {
    font-family: poppins, 'sans-serif';
}
.volkhov {
    font-family: volkhov,'sans-serif';
}

.red-gradient {
    background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
}